{% extends "base.html" %}
{% block content %}
{% if not answer %}
<div>
    <h2>英語を入力してください</h2>
    日本語: {{ verb.str_ja }}<br>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.id(value=verb.id) }}
        <p>{{ form.answer.label }}{{ form.answer() }}</p>
        {{ form.submit() }}
    </form>
    <form action="{{ url_for('verb_list') }}">
        <input type="submit" value="一覧へ戻る">
    </form>
</div>
{% else %}
<div>
    <h2>答え</h2>
    <p>日本語: {{ verb.str_ja }}</p>
    <p>英語: {{ verb.str_en }}</p>
    <p>解答: {{ answer }}</p>
    <form action="{{ url_for('ja2en_wordbook') }}">
        <input type="submit" value="次へ">
    </form>
    <form action="{{ url_for('verb_list') }}">
        <input type="submit" value="一覧へ戻る">
    </form>
</div>
{% endif %}
{% endblock %}